---

- name: Install | Add spacewalk to /etc/hosts
  lineinfile:
    path: /etc/hosts
    regexp: '^{{ spacewalk_ip | replace(".", "\.") }}.*$'
    line: '{{ spacewalk_ip }} {{ spacewalk_server }} {{ spacewalk_server.split(".")[0] }}'
    owner: root
    group: root
    mode: 0644

- name: Install | Add spacewalk CA certificate
  get_url:
    url: "https://{{ spacewalk_server }}/pub/RHN-ORG-TRUSTED-SSL-CERT"
    dest: /usr/share/rhn/RHN-ORG-TRUSTED-SSL-CERT

- name: Install | Register with spacewalk
  rhn_register:
    state: present
    server_url: "https://{{ spacewalk_server}}/XMLRPC"
    activationkey: "{{ spacewalk_key }}"
  tags:
    - configuration

- name: Install | Disable external yum repos
  ini_file:
    dest: /etc/yum.conf
    section: main
    option: reposdir
    value: /etc/yum.repos.disabled

...
