---

#- name: IPA | Add ipa to /etc/hosts
#  lineinfile:
#    path: /etc/hosts
#    regexp: '^10\.210\/20\/222.*$'
#    line: '10.210.20.222 {{ ipa_host }}'
#    owner: root
#    group: root
#    mode: 0644
#  tags:
#    - ipa

#- name: IPA | Install IPA Client
#  yum:
#    name: ipa-client
#    state: present
#  tags:
#    - ipa

    #- name: IPA | Add ipa CA certificate to trusted anchors
    #  copy:
    #src: ipa.as7551.net.pem
    #dest: /etc/pki/ca-trust/extracted/pem/ipa.as7551.net.pem
    #register: ipa_ssl_ca
    #tags:
    #- ipa

    #- name: IPA | Update CA anchors
    #command: update-ca-trust
    #when: ipa_ssl_ca.changed
    #tags:
    #- ipa
- name: Check that ipa server is available
  uri:
    url: 'https://{{ ipa_host }}'
    validate_certs: False
  ignore_errors: true
  run_once: true
  register: ipa_status

- name: IPA | Setup IPA client
  import_role:
    role: ipaclient
  when: ipa_status.status == 200
  tags:
    - ipaclient
