---

- name: Create volume group
  lvg:
    vg: '{{ item.vg }}'
    pvs: '{{ item.pvs }}'
  with_items:
    - '{{ volume_groups }}'
    - '{{ custom_volume_groups }}'

- name: Create logical volumes
  lvol:
    lv: '{{ item.lv }}'
    vg: '{{ item.vg }}'
    size: '{{ item.size }}'
  with_items:
    - '{{ logical_volumes }}'
    - '{{ custom_logical_volumes }}'
