---
# tasks file for linux-system

- name: "Create custom fact directory"
  file:
    path: "/etc/ansible/facts.d"
    state: "directory"
    #notify: update aide
  tags:
    - ansible

- name: Set timezone to UTC
  timezone:
    name: Etc/UTC
    #notify: update aide
  tags:
    - timezone

- name: Configure anacron
  template:
    src: anacrontab.j2
    dest: /etc/anacrontab
    owner: root
    group: root
    mode: 0600
    #notify: update aide
  tags:
    - config
    - anacron
    - cron

- name: Add /etc/profile
  template:
    src: profile.j2
    dest: /etc/profile
    owner: root
    group: root
    mode: 0644
    #notify: update aide
  tags:
    - shell
    - profile

- name: Use FQDN in shell prompt
  template:
    src: prompt.sh.j2
    dest: /etc/profile.d/prompt.sh
    owner: root
    group: root
    mode: 0644
    #notify: update aide
  tags:
    - shell
    - prompt

- name: Add motd, for post authentication
  template:
    src: motd.j2
    dest: /etc/motd
    owner: root
    group: root
    mode: 0644
    #notify: update aide
  tags:
    - shell
    - motd

- name: Add issue, for pre authentication
  template:
    src: issue.j2
    dest: /etc/{{ item }}
    owner: root
    group: root
    mode: 0644
    #notify: update aide
  with_items:
    - issue
    - issue.net
  tags:
    - issue
    - shell

- name: Install useful packages
  yum:
    name: '{{ useful_packages }} + {{ required_packages }}'
    state: installed
    #notify: update aide
  tags:
    - install

