---
# tasks file for common

- name: Check required variables
  fail: msg="Variable "{{ item }}" is not defined"
  when: item not in vars
  with_items: "{{required_vars}}"
  changed_when: False

- name: Setup hostname
  import_tasks: hostname.yml
  tags:
    - hostname

- name: Setup spacewalk agent
  import_tasks: yum.yml
  tags:
    - yum

- name: Setup root and admin users
  import_tasks: admin.yml
  tags:
    - admin

    #- name: Setup ssh server
    #import_tasks: ssh.yml
    #tags:
    # - ssh

- name: Setup Logical Volume Manager
  import_tasks: lvm.yml
  tags:
    - lvm

- name: Setup Filesystems
  import_tasks: fs.yml
  tags:
    - fs

- name: Configure filesystem mounts
  import_tasks: mount.yml
  tags:
    - mount

    #- name: Setup network interfaces
    #import_tasks: network.yml
    #tags:
    #- network

- name: Setup SELinux
  import_tasks: selinux.yml
  tags:
    - selinux

- name: Sertup firewalld
  import_tasks: firewall.yml
  tags:
    - firewall

- name: Setup IPA Client
  import_tasks: ipa.yml
  tags:
    - ipa

- name: Setup postfix mail relaying
  import_tasks: mail.yml
  tags:
    - mail

- name: Setup ossec-hids-agent
  import_tasks: ossec.yml
  when: "'ossec' not in group_names"
  tags:
    - ossec

- name: Setup shell environment
  import_tasks: environment.yml
  tags:
    - environment

