---
# tasks file for common

- name: Set hostname
  hostname:
    name={{ inventory_hostname }}
  tags:
    - config

- name: Add entry to /etc/hosts
  lineinfile:
    dest: /etc/hosts
    line: "{{ ansible_default_ipv4.address }} {{ ansible_fqdn }}"
    state: present
  tags:
    - config

- name: Set timezone to UTC
  timezone:
    name: Etc/UTC
  tags:
    - timezone

- name: Remove centos user from cloudinit
  user:
    name: centos
    state: absent
    remove: true
  when: create_admin_users
  tags:
    - adminuser

- name: Set root password
  user:
    name: root
    system: true
    comment: "Root User"
    uid: 0
    group: root
    password: '{{ root_password_hash }}'
  tags:
    - rootuser

- name: Create admin and sshusers group
  group:
    name: '{{ item.name }}'
    system: true
    gid: '{{ item.gid }}'
    state: present
  with_items:
    - { name: admin, gid: '{{ admin_group_id }}' }
  when: create_admin_users
  tags:
    - adminuser

- name: Create admin user in wheel group
  user:
    name: admin
    system: true
    comment: "Admin User"
    uid: '{{ admin_user_id }}'
    group: admin
    groups: [ wheel ]
    password: '{{ admin_password_hash }}'
    expires: -1
  when: create_admin_users
  tags:
    - adminuser

- name: Set admin users authorized key
  authorized_key:
    user: admin
    state: present
    key: '{{ admin_ssh_keys | join("\n") }}'
    exclusive: true
  when: create_admin_users
  tags:
    - adminuser
    - ssh

- import_role:
    name: spacewalk-client
  when: spacewalk_server is defined
  tags:
    - rhn
    - yum

- import_role:
    name: ovirt-virtual-machine
    tasks_from: guestagent.yml
  when: ansible_system_vendor == 'oVirt'
  tags:
    - ovirtvm

- import_role:
    name: freeipa-client
  when: ipaserver_master is defined
  tags:
    - ipaclient

- import_role:
    name: firewalld
  tags:
    - firewall

- import_role:
    name: icinga-agent
    tasks_from: nrpe.yml
  tags:
    - icinga
    - nrpe

- import_role:
    name: certmonger
  when: ipaserver_master is defined
  tags:
    - certmonger

- import_role:
   name: ssh
  tags:
    - ssh

- import_role:
    name: selinux
  tags:
    - selinux

- import_role:
    name: postfix
  tags:
    - mail
    - postfix

- import_role:
    name: ossec-agent
  when: ossec_host_group not in group_names
  tags:
    - ossec

- import_role:
    name: chrony
  when: "'ipaservers' not in group_names"
  tags:
    - ntp
    - chrony

# FreeIPA doesnt yet support chrony on server
- import_role:
    name: ntp
  when: "'ipaservers' in group_names"
  tags:
    - ntp

- import_role:
    name: logrotate
  tags:
    - logrotate

- include_role:
    name: dell-system-updates
  when: ansible_system_vendor == "Dell Inc."
  tags:
    - dell

- name: Add /etc/profile
  template:
    src: profile.j2
    dest: /etc/profile
    owner: root
    group: root
    mode: 0644
  tags:
    - shell
    - profile

- name: Use FQDN in shell prompt
  template:
    src: prompt.sh.j2
    dest: /etc/profile.d/prompt.sh
    owner: root
    group: root
    mode: 0644
  tags:
    - shell
    - prompt

- name: Add motd, for post authentication
  template:
    src: motd.j2
    dest: /etc/motd
    owner: root
    group: root
    mode: 0644
  tags:
    - shell
    - motd

- name: Add issue, for pre authentication
  template:
    src: issue.j2
    dest: /etc/{{ item }}
    owner: root
    group: root
    mode: 0644
  with_items:
    - issue
    - issue.net
  tags:
    - issue
    - shell

- import_role:
    name: lvm
  tags:
    - lvm
    - disk

- import_role:
    name: rsyslog
  when: rsyslog_server is defined
  tags:
    - rsyslog

- import_role:
    name: filebeat
  when: rsyslog_server is defined
  tags:
    - filebeat

- import_role:
    name: veeam-agent
  when: install_veeam_agent
  tags:
    - backups
    - veeam

- name: Install useful packages
  yum:
    name: '{{ item }}'
    state: installed
  with_items:
    - bash-completion
    - zsh
    - vim-enhanced
    - screen
    - '{{ required_packages }}'
  tags:
    - install

- name: perms on grub.conf
  file:
    name: /boot/grub2/grub.cfg
    mode: 0600
  tags:
    - config
    - security

- name: blacklist modules
  lineinfile:
    create: yes
    dest: "/etc/modprobe.d/{{item}}.conf"
    regexp: "{{item}}"
    line: "install {{item}} /bin/true"
  with_items:
    - dccp
    - sctp
    - usb-storage
  tags:
    - config
    - security

- name: Add auditd configuration
  template:
    src: auditd.conf.j2
    dest: /etc/audit/auditd.conf
    owner: root
    group: root
    mode: 0640
  notify: restart auditd
  tags:
    - config
    - audit
    - security

- name: Search for privileged commands
  shell: "find / -xdev -type f -perm -4000 -o -type f -perm -2000 2>/dev/null | cat"
  check_mode: no
  register: audit_privileged_commands
  tags:
    - config
    - audit
    - security

- name: Apply CIS & STIG audit rules
  template:
    src: security.rules.j2
    dest: /etc/audit/rules.d/security.rules
    owner: root
    group: root
    mode: 0600
  notify: restart auditd
  tags:
    - config
    - audit
    - security

- name: Apply CIS login restrictions
  template:
    src: login.defs.j2
    dest: /etc/login.defs
    owner: root
    group: root
    mode: 0644
  tags:
    - config
    - security

- name: Ensure sysctl kernel.randomize_va_space is set to 2
  sysctl:
    name: kernel.randomize_va_space
    value: 2
    state: present
    reload: yes
  tags:
    - config
    - security

- name: Disable ctl+alt+delete rebooting the system from cli
  systemd:
    name: ctrl-alt-del.target
    masked: yes
  tags:
    - config
    - security

- name: Disable service kdump
  service:
    name: kdump
    enabled: no
    state: stopped
  tags:
    - config
    - security

- name: Ensure sysctl net.ipv4.conf.default.send_redirects is set to 0
  sysctl:
    name: net.ipv4.conf.default.send_redirects
    value: 0
    state: present
    reload: yes
  tags:
    - config
    - security

- name: Ensure sysctl net.ipv4.conf.all.send_redirects is set to 0
  sysctl:
    name: net.ipv4.conf.all.send_redirects
    value: 0
    state: present
    reload: yes
  tags:
    - config
    - security

- name: Ensure sysctl net.ipv4.ip_forward is set to 0
  sysctl:
    name: net.ipv4.ip_forward
    value: '{{ sysctl_ip_forwarding }}'
    state: present
    reload: yes
  tags:
    - config
    - security

- name: Ensure sysctl net.ipv4.conf.all.accept_redirects is set
  sysctl:
    name: net.ipv4.conf.all.accept_redirects
    value: 0
    state: present
    reload: yes
  tags:
    - config
    - security

- name: Ensure sysctl net.ipv4.conf.default.accept_redirects is set
  sysctl:
    name: net.ipv4.conf.default.accept_redirects
    value: 0
    state: present
    reload: yes
  tags:
    - config
    - security

- name: Ensure sysctl net.ipv4.icmp_echo_ignore_broadcasts is set
  sysctl:
    name: net.ipv4.icmp_echo_ignore_broadcasts
    value: 1
    state: present
    reload: yes
  tags:
    - config
    - security

- name: Ensure sysctl net.ipv6.conf.all.accept_source_route is set
  sysctl:
    name: net.ipv6.conf.all.accept_source_route
    value: 0
    state: present
    reload: yes
  tags:
    - config
    - security

- name: Limit the Number of Concurrent Login Sessions Allowed Per User
  pam_limits:
    domain: '*'
    limit_type: hard
    limit_item: maxlogins
    value: 10
  tags:
    - config
    - security

- name: Add /etc/default/useradd
  template:
    src: useradd.j2
    dest: /etc/default/useradd
    owner: root
    group: root
    mode: 0644
  tags:
    - security
    - useradd

- name: Install dracut-fips for fips enabled kernel
  yum:
    name: '{{ item }}'
    state: installed
  with_items:
    - dracut-fips
    - prelink
  tags:
    - install
    - security

- name: Add grub password
  template:
    src: 01_users.j2
    dest: /etc/grub.d/01_users
    owner: root
    group: root
    mode: 0750
  notify: update grub config
  tags:
    - grub
    - security

- name: Add aide config
  template:
    src: aide.conf.j2
    dest: /etc/aide.conf
    owner: root
    group: root
    mode: 0600
  tags:
    - aide
    - security

- name: "Configure Periodic Execution of AIDE"
  cron:
    name: "run AIDE check"
    minute: 05
    hour: 04
    weekday: 0
    user: root
    job: "/usr/sbin/aide --check | /bin/mail -s "$(hostname) - AIDE Integrity Check" {{ admin_email }}"
  tags:
    - aide
    - security

- name: Prevent Log In to Accounts With Empty Password
  replace:
    dest: '/etc/pam.d/{{ item }}-auth'
    follow: yes
    regexp: 'nullok'
  with_items:
    - system
    - password
  tags:
    - auth
    - pam
    - security

- name: Ensure PAM variable maxrepeat is set accordingly
  lineinfile:
    create: yes
    dest: "/etc/security/pwquality.conf"
    regexp: "^maxrepeat"
    line: "maxrepeat = 2"
  tags:
    - auth
    - pam
    - security

- name: Ensure PAM variable maxclassrepeat is set accordingly
  lineinfile:
    create: yes
    dest: "/etc/security/pwquality.conf"
    regexp: "^maxclassrepeat"
    line: "maxclassrepeat = 4"
  tags:
    - auth
    - pam
    - security

- name: Ensure PAM variable dcredit is set accordingly
  lineinfile:
    create: yes
    dest: "/etc/security/pwquality.conf"
    regexp: "^dcredit"
    line: "dcredit = -1"
  tags:
    - auth
    - pam
    - security

- name: Ensure PAM variable minlen is set accordingly
  lineinfile:
    create: yes
    dest: "/etc/security/pwquality.conf"
    regexp: "^minlen"
    line: "minlen = 15"
  tags:
    - auth
    - pam
    - security

- name: Ensure PAM variable ucredit is set accordingly
  lineinfile:
    create: yes
    dest: "/etc/security/pwquality.conf"
    regexp: "^ucredit"
    line: "ucredit = -1"
  tags:
    - auth
    - pam
    - security

- name: Ensure PAM variable ocredit is set accordingly
  lineinfile:
    create: yes
    dest: "/etc/security/pwquality.conf"
    regexp: "^ocredit"
    line: "ocredit = -1"
  tags:
    - auth
    - pam
    - security

- name: Ensure PAM variable lcredit is set accordingly
  lineinfile:
    create: yes
    dest: "/etc/security/pwquality.conf"
    regexp: "^lcredit"
    line: "lcredit = -1"
  tags:
    - auth
    - pam
    - security

- name: Ensure PAM variable difok is set accordingly
  lineinfile:
    create: yes
    dest: "/etc/security/pwquality.conf"
    regexp: "^difok"
    line: "difok = 8"
  tags:
    - auth
    - pam
    - security

- name: Ensure PAM variable minclass is set accordingly
  lineinfile:
    create: yes
    dest: "/etc/security/pwquality.conf"
    regexp: "^minclass"
    line: "minclass = 4"
  tags:
    - auth
    - pam
    - security


