---
# tasks file for common

- name: Set hostname
  hostname:
    name={{ inventory_hostname }}
  tags:
    - config

- name: Add entry to /etc/hosts
  lineinfile:
    dest: /etc/hosts
    line: "{{ ansible_default_ipv4.address }} {{ ansible_fqdn }}"
    state: present
  tags:
    - config

- name: Set timezone to UTC
  timezone:
    name: Etc/UTC
  tags:
    - timezone

- name: Set root password
  user:
    name: root
    system: true
    comment: "Root User"
    uid: 0
    group: root
    password: '{{ root_password_hash }}'
  tags:
    - rootuser

- name: Create admin and sshusers group
  group:
    name: '{{ item.name }}'
    system: true
    gid: '{{ item.gid }}'
    state: present
  with_items:
    - { name: admin, gid: 1000 }
    - { name: sshusers, gid: 500 }
  tags:
    - adminuser

- name: Create admin user in wheel and sshusers group
  user:
    name: admin
    system: true
    comment: "Admin User"
    uid: 1000
    group: admin
    groups: [ wheel, sshusers ]
    password: '{{ admin_password_hash }}'
  tags:
    - adminuser

- name: Remove centos user from cloudinit
  user:
    name: centos
    state: absent
    remove: true
  tags:
    - adminuser

- name: Set admin users authorized key
  authorized_key:
    user: admin
    state: present
    key: '{{ admin_ssh_keys | join("\n") }}'
    exclusive: true
  tags:
    - adminuser
    - ssh

- import_role:
    name: spacewalk-client
  when: spacewalk_server is defined
  tags:
    - rhn
    - yum

- import_role:
    name: ovirt-virtual-machine
    tasks_from: guestagent.yml
  when: ansible_system_vendor == 'oVirt'
  tags:
    - ovirtvm

- import_role:
    name: freeipa-client
  when: ipaserver_master is defined
  tags:
    - ipaclient

- import_role:
    name: firewalld
  tags:
    - firewall

- import_role:
    name: icinga-agent
    tasks_from: nrpe.yml
  tags:
    - icinga
    - nrpe

- import_role:
    name: certmonger
  when: ipaserver_master is defined
  tags:
    - certmonger

- import_role:
   name: ssh
  tags:
    - ssh

- import_role:
    name: selinux
  tags:
    - selinux

- import_role:
    name: postfix
  tags:
    - mail
    - postfix

- import_role:
    name: ossec-agent
  when: ossec_host_group not in group_names
  tags:
    - ossecagent

- import_role:
    name: chrony
  when: "'ipaservers' not in group_names"
  tags:
    - ntp
    - chrony

# FreeIPA doesnt yet support chrony on server
- import_role:
    name: ntp
  when: "'ipaservers' in group_names"
  tags:
    - ntp

- import_role:
    name: logrotate
  tags:
    - logrotate

- include_role:
    name: dell-system-updates
  when: ansible_system_vendor == "Dell Inc."
  tags:
    - dell

- name: Add /etc/profile
  template:
    src: profile.j2
    dest: /etc/profile
    owner: root
    group: root
    mode: 0644
  tags:
    - shell
    - profile

- name: Use FQDN in shell prompt
  template:
    src: prompt.sh.j2
    dest: /etc/profile.d/prompt.sh
    owner: root
    group: root
    mode: 0644
  tags:
    - shell
    - prompt

- name: Add motd, for post authentication
  template:
    src: motd.j2
    dest: /etc/motd
    owner: root
    group: root
    mode: 0644
  tags:
    - shell
    - motd

- name: Add issue, for pre authentication
  template:
    src: issue.j2
    dest: /etc/{{ item }}
    owner: root
    group: root
    mode: 0644
  with_items:
    - issue
    - issue.net
  tags:
    - issue
    - shell

- name: Setup Logical Volume Manager
  import_tasks: lvm.yml
  tags:
    - lvm
    - disk

- name: Setup Filesystems
  import_tasks: fs.yml
  tags:
    - fs
    - disk

- name: Configure filesystem mounts
  import_tasks: mount.yml
  tags:
    - mount
    - disk

- import_role:
    name: rsyslog
  when: rsyslog_server is defined
  tags:
    - rsyslog

- import_role:
    name: filebeat
  when: rsyslog_server is defined
  tags:
    - filebeat

- name: Install useful packages
  yum:
    name: '{{ item }}'
    state: installed
  with_items:
    - bash-completion
    - zsh
    - vim-enhanced
    - screen
  tags:
    - install

- name: perms on grub.conf
  file:
    name: /boot/grub2/grub.cfg
    mode: 0600
  tags:
    - config
    - security

- name: blacklist modules
  lineinfile:
    create: yes
    dest: "/etc/modprobe.d/{{item}}.conf"
    regexp: "{{item}}"
    line: "install {{item}} /bin/true"
  with_items:
    - dccp
    - sctp
    - usb-storage
  tags:
    - config
    - security

- name: Add auditd configuration
  template:
    src: auditd.conf.j2
    dest: /etc/audit/auditd.conf
    owner: root
    group: root
    mode: 046
  notify: restart auditd
  tags:
    - config
    - audit
    - security

- name: Apply CIS audit rules
  copy:
    src: audit.rules
    dest: /etc/audit/rules.d/cis.rules
    owner: root
    group: root
    mode: 0600
  notify: restart auditd
  tags:
    - config
    - audit
    - security

- name: Apply CIS login restrictions
  template:
    src: login.defs.j2
    dest: /etc/login.defs
    owner: root
    group: root
    mode: 0644
  tags:
    - config
    - security

- name: Ensure sysctl kernel.randomize_va_space is set to 2
  sysctl:
    name: kernel.randomize_va_space
    value: 2
    state: present
    reload: yes
  tags:
    - config
    - security

- name: Disable ctl+alt+delete rebooting the system from cli
  systemd:
    name: ctrl-alt-del
    masked: yes
  tags:
    - config
    - security

- name: Disable service kdump
  service:
    name: kdump
    enabled: no
    state: stopped
  tags:
    - config
    - security

- name: Ensure sysctl net.ipv4.conf.default.send_redirects is set to 0
  sysctl:
    name: net.ipv4.conf.default.send_redirects
    value: 0
    state: present
    reload: yes
  tags:
    - config
    - security

- name: Ensure sysctl net.ipv4.conf.all.send_redirects is set to 0
  sysctl:
    name: net.ipv4.conf.all.send_redirects
    value: 0
    state: present
    reload: yes
  tags:
    - config
    - security

- name: Ensure sysctl net.ipv4.ip_forward is set to 0
  sysctl:
    name: net.ipv4.ip_forward
    value: 0
    state: present
    reload: yes
  tags:
    - config
    - security

- name: Ensure sysctl net.ipv4.conf.all.accept_redirects is set
  sysctl:
    name: net.ipv4.conf.all.accept_redirects
    value: 0
    state: present
    reload: yes
  tags:
    - config
    - security

- name: Ensure sysctl net.ipv4.conf.default.accept_redirects is set
  sysctl:
    name: net.ipv4.conf.default.accept_redirects
    value: 0
    state: present
    reload: yes
  tags:
    - config
    - security

- name: Ensure sysctl net.ipv4.icmp_echo_ignore_broadcasts is set
  sysctl:
    name: net.ipv4.icmp_echo_ignore_broadcasts
    value: 1
    state: present
    reload: yes
  tags:
    - config
    - security

- name: Ensure sysctl net.ipv6.conf.all.accept_source_route is set
  sysctl:
    name: net.ipv6.conf.all.accept_source_route
    value: 0
    state: present
    reload: yes
  tags:
    - config
    - security

- name: Limit the Number of Concurrent Login Sessions Allowed Per User
    pam_limits:
    domain: *
    limit_type: hard
    limit_item: maxlogins
    value: 10
  tags:
    - config
    - security

