---
# tasks file for linux-system

- name: "Create custom fact directory"
  file:
    path: "/etc/ansible/facts.d"
    state: "directory"
    #notify: update aide
  tags:
    - ansible

- name: Set hostname
  hostname:
    name: '{{ inventory_hostname }}'
    #notify: update aide
  tags:
    - config
    - hostname

- name: Add entry to /etc/hosts
  lineinfile:
    dest: /etc/hosts
    line: "{{ ansible_default_ipv4.address }} {{ inventory_hostname }}"
    state: present
    #notify: update aide
  tags:
    - config
    - hostname

- name: Set timezone to UTC
  timezone:
    name: Etc/UTC
    #notify: update aide
  tags:
    - timezone

- name: Remove centos user from cloudinit
  user:
    name: centos
    state: absent
    remove: true
  when: create_admin_users
  #notify: update aide
  tags:
    - adminuser

- name: Set root password
  user:
    name: root
    system: true
    comment: "Root User"
    uid: 0
    group: root
    password: '{{ root_password_hash }}'
    #notify: update aide
  tags:
    - rootuser

- name: Create admin groups
  group:
    name: '{{ item.name }}'
    system: true
    gid: '{{ item.gid }}'
    state: present
  with_items:
    - { name: admin, gid: '{{ admin_group_id }}' }
  when: create_admin_users
  #notify: update aide
  tags:
    - adminuser

- name: Create admin user in wheel group
  user:
    name: admin
    system: true
    comment: "Admin User"
    uid: '{{ admin_user_id }}'
    group: admin
    groups: [ wheel ]
    password: '{{ admin_password_hash }}'
    expires: -1
  when: create_admin_users
  #notify: update aide
  tags:
    - adminuser

- name: Set admin users authorized key
  authorized_key:
    user: admin
    state: present
    key: '{{ admin_ssh_keys | join("\n") }}'
    exclusive: true
  when: create_admin_users
  #notify: update aide
  tags:
    - adminuser
    - ssh

- name: Configure anacron
  template:
    src: anacrontab.j2
    dest: /etc/anacrontab
    owner: root
    group: root
    mode: 0600
    #notify: update aide
  tags:
    - config
    - anacron
    - cron

- name: Add /etc/profile
  template:
    src: profile.j2
    dest: /etc/profile
    owner: root
    group: root
    mode: 0644
    #notify: update aide
  tags:
    - shell
    - profile

- name: Use FQDN in shell prompt
  template:
    src: prompt.sh.j2
    dest: /etc/profile.d/prompt.sh
    owner: root
    group: root
    mode: 0644
    #notify: update aide
  tags:
    - shell
    - prompt

- name: Add motd, for post authentication
  template:
    src: motd.j2
    dest: /etc/motd
    owner: root
    group: root
    mode: 0644
    #notify: update aide
  tags:
    - shell
    - motd

- name: Add issue, for pre authentication
  template:
    src: issue.j2
    dest: /etc/{{ item }}
    owner: root
    group: root
    mode: 0644
    #notify: update aide
  with_items:
    - issue
    - issue.net
  tags:
    - issue
    - shell

- name: Install useful packages
  yum:
    name: '{{ useful_packages }} + {{ required_packages }}'
    state: installed
    #notify: update aide
  tags:
    - install

