---

- name: Install | Set mount point options
  mount:
    path: '{{ item.path }}'
    src: '{{ item.src }}'
    opts: '{{ item.opts | default("defaults") }}'
    fstype: '{{ item.fstype }}'
    state: mounted
  with_items:
    - '{{ default_mounts }}'
    - '{{ custom_mounts }}'
  tags:
    - hardening
    - security
    - mount

    #- name: Install | Blacklist various modules
    # copy:
    #src: blacklist.conf
    #dest: /etc/modprobe.d/blacklist.conf
    #tags:
    #- hardening
    #- security

...
