---

- name: Yum | Add spacewalk to /etc/hosts
  lineinfile:
    path: /etc/hosts
    regexp: '^{{ spacewalk_ip | replace(".", "\.") }}.*$'
    line: '{{ spacewalk_ip }} {{ spacewalk_server }} {{ spacewalk_server.split(".")[0] }}'
    owner: root
    group: root
    mode: 0644

- name: Yum | Add spacewalk CA certificate to yum
  get_url:
    url: https://spacewalk.as7551.net/pub/RHN-ORG-TRUSTED-SSL-CERT
    dest: /usr/share/rhn/RHN-ORG-TRUSTED-SSL-CERT
    force: yes
    validate_certs: False

- name: Yum | Add spacewalk CA certificate to trusted anchors
  get_url:
    url: https://spacewalk.as7551.net/pub/RHN-ORG-TRUSTED-SSL-CERT
    dest: /etc/pki/ca-trust/source/anchors/spacewalk.as7551.net.pem
    force: yes
    validate_certs: False
  register: spacewalk_ssl_ca

- name: Yum | Update CA anchors
  command: update-ca-trust
  when: spacewalk_ssl_ca.changed

- name: Check that spacewalk server is available
  uri:
    url: 'https://{{ spacewalk_server }}'
  ignore_errors: true
  run_once: true
  register: spacewalk_status

- name: Yum | Register with spacewalk
  rhn_register:
    state: present
    server_url: "https://{{ spacewalk_server}}/XMLRPC"
    activationkey: "{{ spacewalk_key }}"
  when:
    - spacewalk_status.status == 200

- name: Yum | Add channel gpg keys
  copy:
    src: "RPM-GPG-KEY-{{ item }}"
    dest: '/etc/pki/rpm-gpg/RPM-GPG-KEY-{{ item }}'
  with_items:
    - '{{ default_rhn_gpg_keys }}'
    - '{{ rhn_gpg_keys }}'

- name: Yum | Import channel gpg keys
  rpm_key:
    state: present
    key: '/etc/pki/rpm-gpg/RPM-GPG-KEY-{{ item }}'
  with_items:
    - '{{ default_rhn_gpg_keys }}'
    - '{{ rhn_gpg_keys }}'

- name: Yum | Subscribe to required channels
  rhn_channel:
    name: '{{ item }}'
    sysname: '{{ inventory_hostname }}'
    url: 'https://{{ spacewalk_server }}/rpc/api'
    user: '{{ spacewalk_admin_user }}'
    password: '{{ spacewalk_admin_password }}'
  when:
    - spacewalk_status.status == 200
  with_items:
    - '{{ default_rhn_channels }}'
    - '{{ rhn_channels }}'

- name: Yum | Disable external yum repos
  ini_file:
    dest: /etc/yum.conf
    section: main
    option: reposdir
    value: /etc/yum.repos.disabled
  when:
    - spacewalk_status.status == 200

- name: Update cache
  yum:
    name: cloud-init
    state: absent
    update_cache: true

...
