---
# handlers file for SecurityShift.linux-system

- name: update aliases database
  command: newaliases

# Auditd cant restart with systemctl
- name: restart auditd
  service:
    name: auditd
    state: restarted
    use: service
  when: no_restart is not defined and not no_restart

- name: update grub config
  command: /sbin/grub2-mkconfig -o /boot/grub2/grub.cfg

- name: init aide
  command: /usr/sbin/aide --init
  notify: make new aide database

- name: make new aide database
  command: /bin/mv /var/lib/aide/aide.db.new.gz /var/lib/aide/aide.db.gz
