---
# handlers file for SecurityShift.common

- name: restart firewalld
  service:
    name: firewalld
    state: restarted

- name: update aliases database
  command: newaliases

- name: reload sshd
  service:
    name: "{{ sshd_service }}"
    state: reloaded

...