# {{ ansible_managed }}
# See {{ linux_system_role_git_repo }}/blob/master/templates/prompt.sh.j2

# Use the FQDN in the prompt
{% if prompt_colour == 'red' %}
# And color red
PS1='[\[\e[1;31m\]\u@\H\[\e[0m\] \W]\$ '
{% elif prompt_colour == 'green' %}
# And color green
PS1='[\[\e[0;32m\]\u@\H\[\e[0m\] \W]\$ '
{% else %}
PS1='[\u@\H \W]\$ '
{% endif %}
